language: node_js

install:
- cd extension; npm install; cd ..
- cd frontend; npm install; cd ..

env: # important! Without the top-level env, no job will be allowed to fail.
  - JOB_DEFAULT=test

matrix:
  fast_finish: true
  include:
    - node_js: 8
      env: TYPE=UNIT_CODESTYLE_DEPENDENCY
      script:
      - cd extension
      - npm run test:unit
      - npm run lint
      - npm run check
      - cd ../frontend
      - npm run test
    - node_js: 8
      env: TYPE=INTEGRATION
      script:
      - if [[ "$INTEGRATION_CREDENTIALS" ]]; then echo "${INTEGRATION_CREDENTIALS}" > extension/.integration-credentials.js; fi
      - cd extension
      - if [[ "$INTEGRATION_CREDENTIALS" ]]; then npm run test:integration; fi
  allow_failures:
    - node_js: 8
      env: TYPE=INTEGRATION

notifications:
  slack:
    rooms:
      secure: nLAyKa+Ohnwq729BRm7myw+axBXAFfRppgPiMOxE9bDDWOkdugy+kjjP/Sl06guf8/ZuA4082r71XX2x6E/SG+FduS0r1VtbSbMem1XMmpZeuuYoWDNIzcRLUdYWlZBvO+X6uvDCEu80NPeN40x38u3+x4wSI6aQ6qmWh8GNOfnzcw8Xg1rLQ69LzMDk3P5IapBqOw81H6lw4YjVM5xq0pdng14wz4FNjEngZxoPDtoz2qEXOl7J2OuLpBNloKiKuAROI2F4aqH1OhmP21VbZw0IKVE7RoaCLO8138sA29JMqNhnV8EPtEXnjUlaPx/mg7EIBMrzzNP+CMjJophnsPbZUeyYuThgng1EL08o+unD8NXIb4CIwDv85s6NTEnPucQVGZSORWbc7d8DYAJrZAbowQwREceWM2J+arftYoBSPOIB9E/fZYKS2ecao02SndWTkGWYQKsRabkF05wHswZhpuN6zHmP4gVKemghw4L/DPmjiNJjenX5eU6zj/y6Hm78zOnsBzl3KtE+4HZj3kqs3TJFl7YQbanioHiAnZMLOkW9v3D0gLU5XwsWbOAgb5BFI7YsVc1GWoNC4klSHWdElAjm2vsxCaQutl26nQkUgdf95ETDn+Vt6nEpYq9bqJ/tEKEiUAoDlaIexm6p4t2HSrF7vQdrzwTK3x5xUpo=
    on_success: change
    on_failure: always
